.aboutUsWrapper {
    margin-top: 70px;

    .card {
        margin-bottom: 70px !important;

        .card-header {
            background-color: rgba(144, 238, 144, 0.678);
        }
    }
    
}

