.contactUsSection {
    width: 40vw;

    .contactForm {
        display: flex
    }
    .contactCommentLabel {
        right: 0;
        color: lightgrey;
    }

    .contactFormControl {
        width: 50vw;
        resize: none;
        // max-height: 80px;
    }

    .addCommentBtn {
        background-color: darkcyan;
        color: whitesmoke;
    }
    .commenterList {
        margin-bottom: 30px;

        .list-group-item{
            background-color: rgba(221, 224, 223, 0.479);
            border: none;
            border-radius: 0px;
            border-bottom: 1px olive solid;
            .commenterName {
                font-size: 10px;
                color: olive;
            }
        }
    }
}