.footer {
    max-width: 10000px;
    height: 220px;
    padding: 20px;
    // background-image: linear-gradient(60deg, #96dedb6b 0%, #50c9c3 100%);  
    background-color: white; 
    border-top:olive 3px solid;
    // display: flex;
}