$primary-color: rgb(19, 17, 17);

.headerWrapper {
    height: 120px;
    position: relative;
}

.navbar {
    max-width:10000px;
    padding-right:25px;
    padding-left:25px;
}

.nav-link {
    margin-right: 12px;
}
