.initiativesSection {
    margin-bottom: 130px;
    .card {
        margin-top: 50px;
        
        .initiativeImage {
            max-height: 190px;
        }
    
    
        
      
    }
}
